{{#if showArticle}}
  <h1>Article</h1>
  <h2>{{product.name}}</h2>
  <p>Title: {{product.title}}</p>
  <p>Body: {{product.body}}</p>
  <p>Author: {{product.author}}</p>
{{/if}}

{{!-- <form action="/:id/edit" method="post" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="_method" value="put">
<input type="submit" value="Edit Item">
</form>
<br>
<form action="/products/new" method="post" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="_method" value="delete"/>
<input type="submit" value="Delete Item">
</form> --}}
