 {{message}}
<h1>Article</h1>
<p>Title: {{article.title}}</p>
<p>Body: {{article.body}}</p>
<p>Author: {{article.author}}</p>


<form action="/:urlTitle/edit" method="post" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Edit Article">
</form>
<br>
<form action="/articles/new" method="post" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete Article">
</form>