 {{message}}
<h1>Article</h1>
<p>Title: {{article.title}}</p>
<p>Body: {{article.body}}</p>
<p>Author: {{article.author}}</p>

{{!--
<form action="/:id/edit" method="post" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Edit Item">
</form>
<br>
<form action="/products/new" method="post" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete Item">
</form> --}}