<h1>Edit Product Information</h1>
<h4>Item wasn't found! Please edit item information below...</h4>
<form enctype="application/x-www-form-urlencoded" method="POST" action="/products">
  <h1>Name:
    <br>
    <input type="text" name="name">
  </h1>
  <h1>Price:
    <br>
    <input type="text" name="price">
  </h1>
  <h1>Inventory:
    <br>
    <input type="text" name="inventory">
  </h1>
  <input type="submit" value="Submit">
</form>