<h1>Edit Product Information</h1>
<h4>Item wasn't found! Please edit item information below...</h4>
<input type="text" placeholder="Product name" id="id_input">
<br>
<input type="text" placeholder="Product price" id="price_input">
<br>
<input type="text" placeholder="Inventory amount" id="inventory_input">