<h1>Input Product Information</h1>
<input type="text" placeholder="Enter product name" id="id_input">
<br>
<input type="text" placeholder="Enter product price" id="price_input">
<br>
<input type="text" placeholder="Enter inventory amount" id="inventory_input">