<h1>{{greeting}}</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis voluptatum consequatur voluptates a tempora enim optio. Hic architecto pariatur id itaque eveniet inventore, adipisci, alias explicabo, temporibus veniam eaque amet.</p>