<h1 id="index_header">Articles & Products</h1>
<div id="menu">
  <div class="directory">
    <form action="/products">
      <input type="submit" value="Products" class="page_buttons">
    </form>
  </div>
  <div class="directory">
    <form action="/articles">
      <input type="submit" class="page_buttons" value="Articles">
    </form>
  </div>
</div>