<h1>Input Product Information</h1>
<h2>Name: </h2>
<input type="text" placeholder="Enter product name" id="id_input">
<br>
<h2>Price: </h2>
<input type="text" placeholder="Enter product price" id="price_input">
<br>
<h2>Inventory: </h2>
<input type="text" placeholder="Enter inventory amount" id="inventory_input">