{{#if showProducts}}
  <h1>Product</h1>
  <h2>{{product.name}}</h2>
  <p>ID: {{product.id}}</p>
  <p>PRICE: {{product.price}}</p>
  <p>Inventory Stock: {{product.inventory}}</p>
{{/if}}

<form action="/:id/edit" method="post" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="_method" value="put">
<input type="submit" value="Edit Item">
</form>
<br>
<form action="/products/:id" method="post" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="_method" value="delete"/>
<input type="submit" value="Delete Item">
</form>
