html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', Sans-Serif;
  font-size: 150%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#menu {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

.directory {
  margin: 75px;
  height: 50%;
  width: 40%;
  text-align: center;
}

.page_buttons {
  height: 150px;
  width: 60%;
  font-family: 'Roboto', Sans-Serif;
  font-size: 30px;
  background-color: #98B7D8;
  color: white;
  outline: none;
}


#index_header {
  background-color: #225591;
  color: white;
  margin: 0;
  padding: 15px;
  text-align: center;
  border: black 2px solid;
}

li {
  list-style: none;
  font-size: 20px;
}

p {
  font-family: 'Droid Serif', Serif;
  Font-Size: 14px;
  margin-left: 15px;
}

#list_container {
  border: 1px solid;
  background-color: #D3E8FE
}

#add_button {
  height: 40px;
  width: 120px;
  font-size: 15px;
  margin: 10px;
  background-color: #98B7D8;
  margin-top: 20px;
}

#back_button {
  height: 40px;
  width: 80px;
  font-size: 15px;
  margin: 10px;
  background-color: #98B7D8;
  position: fixed;
  top: 23px;
  left: 23px;
}

#title {
  font-size: 24px;
  margin-bottom: 0;
}

#author {
  margin-top: 10px;
  font-size: 16px;
}

#content {
  font-size: 18px;
  line-height: 150%;
}

#edit_button, #delete_button, #home_button, #submit_button{
  height: 40px;
  width: 120px;
  font-size: 15px;
  margin: 10px;
  background-color: #98B7D8;
}

#home_button {
  position: fixed;
  width: 80px;
  top: 23px;
  right: 23px;
}

.edit_headers {
  font-size: 24px;
  margin-left: 10px;
}

.simple_line {
  height: 30px;
  width: 40%;
  font-size: 18px;
  font-family: 'Droid Serif', Serif;
  border: 2px solid #cccccc;
  margin-left: 10px;
}

#content_input {
  height: 300px;
  width: 40%;
  font-size: 16px;
  line-height: 130%;
  font-family: 'Droid Serif', Serif;
  border: 2px solid #cccccc;
  margin-left: 10px;
}

#item_name {
  font-size: 24px;
}

.item_headers {
  margin-bottom: 0;
  font-size: 18px;
  border-bottom: 1px solid; 
  width: 20%;
}

.item_values {
  font-size: 14px;
}

h3 {
  color: red;
}












